$color-blue: #3385C6;
  $color-lightblue: lighten(#3385C6, 45%);
  $color-darkblue: #49657B;
$color-gray: #7F8E9E;
  $color-lightgray: lighten(#7F8E9E, 40%);
$color-green: #05C271;
$color-orange: #FF6E34;
$color-purple: #4343CF;
$color-white: #FFFFFF;
