@import "../../node_modules/node.normalize.scss/normalize";
html { box-sizing: border-box; }
*,
*::before,
*::after { box-sizing: inherit; }

@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');

@import "colors";
@import "breakpoints";
@import "../app/app.component";
@import "../app/results/results.component";

body {
  background-color: $color-lightblue;
  display: flex;
  justify-content: center;
  padding: 2.5%;
  font-family: 'Overpass Mono', monospace;
  font-size: 3vw;

  @media (min-width: map-get($breakpoints, tablet)) {
    font-size: 2vw;
  }
  @media (min-width: map-get($breakpoints, desktop)) {
    font-size: 1em;
  }
}

a {
  color: $color-blue;

  &:hover,
  &:focus {
    color: $color-darkblue;
  }
}
