twitter-filter {
  width: 100%;
  max-width: 1000px;
  border-radius: 0.5em;
  background-color: $color-white;
  border: 1px solid lighten($color-gray, 30%);
  box-shadow: 2px 2px 1px 0 lighten($color-blue, 40%);
  padding: 1em;
}

h1 {
  display: inline-block;
  float: right;
  margin-top: 0.25em;

  small {
    font-weight: normal;
    font-size: 40%;
    font-style: italic;
    display: block;
    text-align: right;
    margin-top: -0.25em;
  }
}
